
*{
      margin: 0;
      padding: 0;
}

.video-bg {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

.navi{
     top: -2%;
     width: 100%;
}

.navcon{
      display: flex;
      align-items: center;
      justify-content: center;
}

 .playpause{
      margin-right: 60px;
      margin-top: 350px;
}

.play{
      margin-right: 30px;
}

.headCont{
      font-size: 80px;
      margin-left: 100px;
}

.headButton{
      font-size: 16px;
      width: 50%;
      height: 65px;
      margin-left: 100px;
      border: 2px solid white;
}

.play{
      bottom: 0;
      right: 1%;
      bottom: 1%;
      width:42px;
      height: 44px;
      border-radius:10px;
      text-align: center;
      border: 2px solid white;  
} 

.logoname{
      height: 130px;
      width: auto;
      margin-left: 550px;
}

.uicon{
      margin-left: 580px;
}

.user{
      margin-right: 40px;
}

.navd{
      margin-left: 50px;
}

.icon{
      font-size: 24px;
      color: white;
}

.navcon p{
      margin-left: 40px;
      color: white;
}

 .menutitle ul li:hover {
      background-color: #dededf;
      
    }

.menuimg li{
      transition: transform 0.8s ease;
}


.menuimg li:hover {
      background-color: #dededf;
      transform: scale(1.1); /* Change the scale factor as needed for the desired zoom effect */

  
    }

  

@media screen and (max-width:1300px) {
 
      .uicon{
            margin-left: 300px;
      }

      .playpause{
            margin-top: 320px;
      }

      .logoname{
            margin-left: 350px;
      }
      
      
}


@media screen and (max-width:1000px) {
 
      .uicon{
            margin-left: 50px;
            margin-top: 30px;
      }

      .playpause{
            margin-top: 170px;
      }

      .logoname{
            display: none;
      }

      .menu{
            margin-right: 600px;
            margin-top: 40px;
      }
      
      
}


@media screen and (max-width:700px) {
 
      .logoname{
            display: none;
      }
     
      .headCont{
            font-size: 47px;
            margin-left: 10px;
            
      }


      .headButton{
            height: 35px;
            border: 2px solid white;
            width: 100%;
            margin-left: 10px;
      }
 

    
      .navcon p{
            
            margin-top: 20px;
      }
      
      .playpause{
            margin-top: 100px;
      }
      
}

@media screen and (max-width:560px){
      .uicon{
          display: none;
      }

}


@media screen and (max-width:450px) {
 
      .logoname{
            display: none;
      }
     
      .headCont{
            font-size: 27px;
            margin-left:-10px;
      }

      .headButton{
            height: 29px;
            border: 2px solid white;
            width: auto; 
            margin-left:-10px; 
      }

     .menubtn{
      margin-left:-50px; 

     }
     
      .play{
            bottom: 0;
            right: 1%;
            bottom: 1%;
            width:32px;
            height: 30px;
            border-radius:5px;
            text-align: center;
            border: 2px solid white; 
            margin-right: -60px; 
            margin-bottom: 20px;
            margin-top: 250px;
      } 

      .icon{
            font-size: 12px;
      }

      
      .navcon p{
            margin-left: 20px;
      } 
      
}
 
@media screen and (max-width:330px) {
      .playpause{
            display: none;
      }
}

