*{
    margin: 0;
    padding: 0;
}

.img6{
  margin-top: -140px;
}

@media screen and (max-width:1200px) {



  .img2,.img4,.img5{
    height: 140px;
  }

  .img6{
    margin-top: -170px;
    height: 320px;
  }
  
}

@media screen and (max-width:992px) {

  .img2,.img4,.img5{
    height: 110px;
  }

  .img6{
    margin-top: -205px;
    height: 320px;
  }
  
}

@media screen and (max-width:770px) {
.img2,.img3,.img5,.img6{
  display: none;
}

.img1{
  height: 420px;
}

.img4{
  height: 220px;
  margin-top: -200px;
}
  
}


@media screen and (max-width:380px) {

  .imgt{
    display: none;
  }
    
  }